.root {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  width: 900px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;


  table{
    margin-top: 30px;
    border-collapse: collapse;
    td {
      text-align: center;
      padding: 3px;
      border: 1px solid deepskyblue;
    }
    .clicked {
      cursor: pointer;
    }
  }
  .login {
    position: absolute;
    background: deepskyblue;
    right: 100px;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    border: 1px solid deepskyblue;
    border-radius: 20px;
  }
}