.root {
  position: absolute;
  top: 135px;
  left: 90px;
  @media (max-width: 1800px) {
    left: 130px;
  }
  @media (max-width: 1580px) {
    left: 70px;
  }

  @media (max-width: 1450px) {
    position: sticky;
  }

  span {
    cursor: pointer;
    color: deepskyblue;
    @media (max-width: 1800px) {
      display: block;
    }
  }
  .sort_popup {
    background: white;
    width: 225px;
    position: absolute;
    left: 128px;
    top: 30px;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 1800px) {
      left: -27px;
      top: 50px;
    }
    @media (max-width: 1450px) {
      left: -27px;
      top: 50px;
    }
    li {
      padding: 5px;
      text-align: center;
      &:hover {
        background: lightgray;
      }
    }
    &:hover {
      cursor: pointer;
    }
    .active {
      background: skyblue !important;
    }
  }
  .inactive {
    border: 0;
  }
}