.root {
  position: absolute;
  top: 150px;
  left: 90px;
  span {
    cursor: pointer;
    color: deepskyblue;
  }
  .sort_popup {
    width: 220px;
    position: absolute;
    left: 128px;
    top: 30px;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    overflow: hidden;
    li {
      padding: 5px;
      text-align: center;
      &:hover {
        background: lightgray;
      }
    }
    &:hover {
      cursor: pointer;
    }
    .active {
      background: skyblue !important;
    }
  }
  .inactive {
    border: 0;
  }
}